<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Wish</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/wish.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">WishList</a></li>
                <li class="main-header__item"><a href="/admin/add-wish">Add Wish</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>My Wishes</h1>
        <p>List of all the wishes...</p>
       
    </main>
</body>

</html>